.container-home {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}

.container-home h1 {
  color: #ff6f61;
}

@media (max-width: 768px) {
  .container-connections,
  .container-download,
  .container-home,
  .container-about {
    width: 95%;
    padding: 1rem;
  }
  .user-inputs input,
  .user-actions button {
    font-size: 0.9rem;
  }
  .preview-pdf iframe {
    height: 40vmin;
  }
}
